*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

#header {
    height: 60px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #44D62C;
}

#header > .navigation {
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 400px;
    gap: 5px;
}

#header > .navigation > li{
    display: inline-block;
    line-height: 60px;
}

#header .navigation a {
    text-decoration: none;
    color: #999;
}

#header .nav-icon {
    width: 35px;
    height: 35px;
}

#header .nav-icon img{
    width: 100%;
    height: 100%;
    margin-top: 12px;
}

#header .search-btn {
    color: #999; 
}

#header .shopping-cart{
    position: relative;
    color: #999;
}

#header > .navigation > li:hover > a {
    color: white;
}

#header .infor-textarea {
    height: 44px;
    background-color: #555;  
    text-align: center;
}

#header .infor-text {
    line-height: 44px;
    color: white;
    font-family: Roboto,sans-serif;
    font-size: 14px;
} 

#header  .infor-text  a {
    text-decoration: none;
    color: white;

}

#header .infor-text :hover {
    text-decoration: underline;
}

#header .subnav{
    position: absolute;
    right: -10px;
    top: 50px;
    background-color: #222;
    width: 200px;
    border-radius: 10px;
    border: 2px solid #555;
}

#header .subnav li{ 
    list-style-type: none;
}   


#content {
    height: 500px;
    margin-top: 104px;
    
}

@media only screen and (max-width: 1920px) {
    #header .navigation {
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
        margin-right: 50px;
    }
}
